
$text-white: #fff!default;
$text-333: #333333!default;
$text-888: #888!default;
$text-gray: #8E8E8E!default;
$text-error: #fa0505!default;
$text-color-73: #737373!default;
$text-color-64: #646464!default;
$text-dartK: #000!default;
$text-match: #FCFFA7!default;
$background-color1: #4859DE!default;;
$background-black: #141631!default;
$background-gray: #F1F2F5!default;
$background-input: #EEEEED!default;
$background-gray1: #D8D8D8!default;
$background-gray2: #F3F5F9!default;
$body-bg: #F3F5F9!default;
$border-color1: #E4E4E4!default;


$text-black: #141414!default;
$text-green: #3B5FFF!default;
$text-gray2: #BABABA!default;
$text-gray3: #787878!default;
$text-gray4: #878787!default;
$text-gray5: #6F6F6F!default;
